<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="ROBOTS" CONTENT="NOINDEX, FOLLOW"><meta name="ROBOTS" CONTENT="INDEX, NOFOLLOW"><meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%- page_title %></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

    <link href="/admin-assets/css/app.css" rel="stylesheet">
    <style>
        table.dataTable td.details-control {
            background: url('/admin-assets/images/details_open.png') no-repeat center center !important;
            cursor: pointer;
        }
        table.dataTable tr.shown td.details-control {
            background: url('/admin-assets/images/details_close.png') no-repeat center center !important;
        }
    </style>